.Motive__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
    background-color: #fff;
}

.Motive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.Motive>h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 5px;
    line-height: 1.5;
    text-align: center;
    color: #aaaaaa;
}

.Motive>p {
    font-family: 'Mulish', sans-serif;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 100;
    color: #a3a3a3;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2.5px;
}

@media only screen and (min-width:2300px) {
    .Motive>h2 {
        font-size: 45px;
    }

    .Motive>p {
        font-size: 30px;
        padding-right: 15px;
    }
}

@media only screen and (min-width:1280px) {
    .Motive__container {
        height: 35vh;
    }
}

@media only screen and (min-width:1000px) and (max-width:1279px) {
    .Motive__container {
        height: 40vh;
    }
}

@media only screen and (max-width:550px) {
    .Motive__container {
        margin: 20px 0;
    }
}

@media only screen and (min-width:750px) and (max-width:960px) and (min-height:300px) and (max-height:500px){
    .Motive__container {
        height: 80vh !important;
    }
}

@media only screen and (min-width:767px) and (max-width:960px) {
    .Motive__container {
        height: 35vh;
    }

    .Motive {
        width: 80%;
    }

    .Motive>h2 {
        font-size: 22px;
    }

    .Motive>p {
        font-size: 17px;
        padding-right: 15px;
    }
}

@media only screen and (min-width:601px) and (max-width:749px) {
    .Motive__container {
        height: 90vh;
    }
}

@media only screen and (min-width:416px) and (max-width:600px) {
    .Motive__container {
        height: 110vh;
    }
}

@media only screen and (max-width:415px) {
    .Motive {
        width: 80%;
    }

    .Motive>h2 {
        font-size: 18px;
    }
}

@media only screen and (min-width:331px) and (max-width:381px) {
    .Motive__container {
        height: 60vh;
    }
}

@media only screen and (min-width:301px) and (max-width:330px) {
    .Motive__container {
        height: 90vh;
    }
}

@media only screen and (max-width:300px) {
    .Motive__container {
        height: 60vh;
    }

    .Motive {
        width: 80%;
    }

    .Motive>h2 {
        font-size: 16.5px;
    }
}