*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
/* font-family: 'IBM Plex Serif', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */